<%- include('partials/header') %>
<section id="about">
        <div class="container">
            <h2>A LITTLE ABOUT ME</h2>
            <div class="about-me row">

                <div class="content col-lg-6">
                    <p>I am an international student from Angola and an aspiring software engineer.I am currently a sophomore pursuing a Bachelor's degree in Computer Engineering Technology at the University of Houston.Throughout my academic journey, I have gained experience in various programming languages and technologies, including Java, Python, and web development frameworks.</p>
                </div>

                <div class="images col-lg-6">  
                    <img src="images/Group_project.jpg" class="grp_project_img">
                </div>
            </div>
           
            <!--Student Org and volunteering pictures-->
            <div class="student_orgs row">
                <div class="org1 col-lg-6">
                    <img src="images/cougarAI.jpg" alt="cougarAI_picture" class="cougarAI_pic">
                    <!-- <p>Society of Hispanic Professional Engineers (SHPE) - As a member of SHPE, I have had the opportunity to connect with fellow students and professionals in the engineering field. I have participated in various events and workshops that have helped me develop my technical skills and expand my network.</p> -->
                </div>
                <div class="org2 col-lg-6">
                    <!-- <img src="images/volunteering.jpg" alt="volunteering_picture" class="volunteering_pic"> -->
                    <p> I have worked on several projects that have allowed me to develop my teamwork and communication skills.I am also a Volunteer Lead Computer Science Instructor at Coder Kids, and I mentor students through project-based learning, ensuring comprehension and skill development. Beyond code, I’m deeply interested in leveraging technology for social good and mentoring aspiring developers.</p>
                </div>
            </div>
             <!--Picture at Microsoft with description of my goals-->
            <div class="microsoft_goals">
                <!-- <div class = "goals col-lg-12"> -->
                    <img src="images/microsoft.jpg" alt="microsoft_picture" class="microsoft_pic">
                    <h3>MY GOALS</h3>
                    <p>My goal is to secure a software engineering internship at a reputable tech company, where I can apply my skills and gain hands-on experience in the field. I am particularly interested in opportunities that allow me to work on innovative projects and collaborate with experienced professionals. I am confident that an internship will provide me with valuable insights into the industry and help me further develop my technical and professional skills.</p>   
                <!-- </div> -->
                
            </div>
        
    </section>
<%- include('partials/footer') %>