<%- include('partials/header') %>
<section id="about">
        <div class="container">
            <h2>A LITTLE ABOUT ME</h2>
            <div class="about-me row">

                <div class="content col-lg-6">
                    <p>I’m an aspiring software engineer passionate about building user-focused applications. With hands-on experience in Python, JavaScript, and modern frameworks, I combine technical expertise with a strong sense of product design and usability. Beyond code, I’m deeply interested in leveraging technology for social good and mentoring aspiring developers. I bring an international perspective, attention to detail, and a growth mindset to every project.</p>
                

                </div>

                <div class="images col-lg-6">  
                    <!-- <div class="workshop"><img src="images/workshop.jpg"></div> -->
                    <div class="grp_project"><img src="images/Group_project.jpg"></div>
                </div>
            </div>
        </div>
        
    </section>
<%- include('partials/footer') %>