<%- include('partials/header') %>
<section id="experience" style="background-color: #e3d095;">
        <div class="container">
                <h2>MY EXPERIENCE</h2>
            <div class="project">

                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3"> 
                    <div class="feature col">
                         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <img src="images/calendar.png"> 
                        </div> 
                        <h3 class="fs-2 text-body-emphasis">Consistency App</h3> 
                        <p>Created for The purpose of building a routines and habbits.</p> 
                        <a href="#" class="icon-link"> Check it out </a> 
                    </div> 

                <div class="feature mid col"> 
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"> 
                        <img src="images/passport.png">
                    </div> 
                    <h3 class="fs-2 text-body-emphasis">H1B Web App</h3> 
                    <p>A created for the purpose of findiing companies that provide visa sponsorship.</p> 
                    <a href="#" class="icon-link"> Check it out</a> 
                </div> 

                <div class="feature col"> 
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <img src="images/api-img.png">
                    </div>
                    <h3 class="fs-2 text-body-emphasis">API Based Website</h3>
                     <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                      <a href="#" class="icon-link">Check it out </a> 
                    </div>
                </div>

            </div>
        </div>
    </section>
<%- include('partials/footer') %>