<%- include('partials/header') %>
<section id="experience" style="background-color: #e3d095;">
        <!-- <div class="container"> -->
            <div class="project">
                <div class="section-header">
                    <h2>MY EXPERIENCE</h2>
                </div>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3"> 
                    <div class="feature col">
                         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <img src="images/the_roaster_app.png"> 
                        </div> 
                        <h3 class="fs-2 text-body-emphasis">The Roaster App</h3> 
                        <p>Developed a joke-generation platform with JavaScript, EJS, and CSS, integrating PostgreSQL to store and retrieve 20+ user-submitted jokes, enabling dynamic content creation and retrieval in real-time.</p> 
                        <a href="https://github.com/MPngoma/Roaster-App-" class="icon-link"> Check it out </a> 
                    </div> 

                <div class="feature mid col"> 
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"> 
                        <img src="images/passport.png">
                    </div> 
                    <h3 class="fs-2 text-body-emphasis">H1B Web App</h3> 
                    <p>A created for the purpose of findiing companies that provide visa sponsorship.</p> 
                    <a href="#" class="icon-link"> Soon!</a> 
                </div> 

                <div class="feature col"> 
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <img src="images/book_review.png">
                    </div>
                    <h3 class="fs-2 text-body-emphasis">Book Review Website</h3>
                     <p>Built and developed a fully functional book review website that enables users to review and rate books.</p>
                      <a href="#" class="icon-link">In Progress </a> 
                    </div>
                </div>

            </div>
        <!-- </div> -->
    </section>
<%- include('partials/footer') %>