<%- include('partials/header') %>
<section id="main">
        <div class="container">
            <div class="row">
                <h1>Milton Ngoma</h1>

                <div class="profile col-lg-6 col-sm-12">
                    <img src="/images/headshot.jpg">
                    <div class="titles">
                        <h3>Software Engineering</h3>
                        <a href="https://github.com/stars/MPngoma/lists/python" >PYTHON /</a>
                        <a href="https://github.com/stars/MPngoma/lists/data-science" >DATA SCIENCE /</a>
                        <a href="https://github.com/stars/MPngoma/lists/full-stack-web-development" >WEB DEVELOPMENT</a>
                        <a href="https://github.com/MPngoma">
                        <img src="images/github_logo.png" alt="github logo" class="github-logo">
                    </a>
                    </div>

                </div>

                <div class="graduation col-lg-6 col-sm-12">
                    <img src="images/Graduation.jpg" alt="graduation picture">
                </div>
                
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- <a href="https://github.com/MPngoma">
                        <img src="images/github_logo.png" alt="github logo" class="github-logo">
                    </a> -->
                </div>
            </div>
        </div>
        
           
        

    </section>
<%- include('partials/footer') %>