<%- include('partials/header') %>
<section id="main">
    <div class="container">
        <h1>Milton Ngoma</h1>

            <div class="profile">
                <img src="/images/headshot.jpg">
                <div class="titles">
                    <h3>Software Engineering</h3>
                    <a href="https://github.com/stars/MPngoma/lists/python" >PYTHON</a><hr>
                    <a href="https://github.com/stars/MPngoma/lists/data-science" >DATA SCIENCE</a><hr>
                    <a href="https://github.com/stars/MPngoma/lists/full-stack-web-development" >WEB DEVELOPMENT</a><hr>
                    <a href="https://www.linkedin.com/in/milton-ngoma-962530248/" >LINKEDIN</a> <hr>
                    <a href="https://github.com/MPngoma">
                        <img src="images/github_logo.png" alt="github logo" class="github-logo">
                    </a>
            </div>
    </div>
</section>
<%- include('partials/footer') %>