<%- include('partials/header') %>
<section id="main">
        <div class="container">
            <div class="row">
                <h1>Milton Ngoma</h1>

                <div class="profile col-lg-6 col-sm-12">
                    <img src="/images/headshot.jpg">
                    <div class="titles">
                        <h3>Software Engineering</h3>
                        <p>PYTHON /</p>
                        <p>DATA SCIENCE /</p>
                        <p>WEB DEVELOPMENT</p>
                    </div>

                </div>

                <div class="graduation col-lg-6 col-sm-12">
                    <img src="images/Graduation.jpg" alt="graduation picture">
                </div>
                
            </div>

            <div class="row" style="padding-left: 2.5rem">
                <div class="col-12"><a href="https://github.com/MPngoma" style="color: white;"> MY GITHUB ></a></div>
            </div>
        </div>
        
           
        

    </section>
<%- include('partials/footer') %>